# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
src/auto_labeling/calib.zip
# C extensions
*.so
data/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.catkin_workspace
.idea/
devel/
src/CMakeLists.txt

.catkin_tools/       
src/yolov7.pt
2022-11-24-15-00-28.bag
im_pose.txt

src/images/
src/images1/
2022-12-07-14-27-22.bag
src/11.jpg
src/semantic-segmentation/
2023-01-12-15-27-58.bag
2023-01-16-15-18-42.bag
install/
logs/
outputImage.jpg
src/auto_labeling/utils/*.mp4
src/data/
src/images.zip
src/auto_labeling/utils/checkerboard_images/
src/auto_labeling/utils/front_separate/
src/auto_labeling/utils/rear_separate/

src/auto_labeling/utils/*.png

*.bag
scan.csv
selected_points.csv

src/auto_labeling/utils/test.txt
src/calib/
src/rear_scan/

.catkin_tools/
.idea/

build/
devel/
install/
logs/
outputImage.jpg
src/CMakeLists.txt
src/__init__.py
src/auto_labeling/__pycache__/
src/auto_labeling/untitled.asv


src/auto_labeling/utils/*.png
src/auto_labeling/utils/bottom.png

src/auto_labeling/utils/checkerboard_images/
src/auto_labeling/utils/
src/auto_labeling/utils/find_AB.asv

src/auto_labeling/uv.asv
src/auto_labeling/uv.m
src/calib/
src/rear_scan/


.catkin_tools/
.idea/
build/
devel/
image_folder/
install/
logs/
src/CMakeLists.txt
src/__init__.py
src/auto_labeling/__pycache__/
src/auto_labeling/untitled.asv
src/auto_labeling/utils/__init__.py
src/auto_labeling/utils/back.png

src/auto_labeling/utils/bottom.png
src/auto_labeling/utils/camer_calibration.m
src/auto_labeling/utils/checkerboard_images/
src/auto_labeling/utils/detectCheckerboardPointsModified.m
src/auto_labeling/utils/detectedLines.png
src/auto_labeling/utils/find_AB.asv
src/auto_labeling/utils/find_AB.m
src/auto_labeling/utils/fish.png
src/auto_labeling/utils/front.png
src/auto_labeling/utils/front_lens.mp4
src/auto_labeling/utils/imag.png
src/auto_labeling/utils/left.mp4
src/auto_labeling/utils/left.png
src/auto_labeling/utils/linesDetected.jpg
src/auto_labeling/utils/output.mp4
src/auto_labeling/utils/outputImage.jpg

src/auto_labeling/utils/rear_lens.mp4
src/auto_labeling/utils/right.mp4
src/auto_labeling/utils/right.png

src/auto_labeling/utils/test.txt
src/auto_labeling/utils/top.png
src/auto_labeling/utils/untitled.m
src/auto_labeling/uv.asv
src/auto_labeling/uv.m

src/rear_scan/
src/auto_labeling/calib/scenes/*.jpg
*.bag.png

.gitignore.save
src/auto_labeling/*.jpg
src/auto_labeling/calib/scenes/back/

src/auto_labeling/calib/scenes/*
*.png
